html{
  background:URL(../images/bg5.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:grey;
  height:100%;
  width:100%;
}
hr{
  width:80%;
  border-color:grey grey;
  height:0px;
}
#a1{  
  position:absolute;
  top:6.4%;
  height:15%;
  width:100%;
  background:rgba(0,0,0,0.2);
  filter:alpha(opacity:100);
  opacity:1;
}
#a1 table{
  text-align:left;
  padding-left:15%;	
}
button{
  background:rgba(0,0,0,0.2);
  filter:alpha(opacity:100);
  opacity:1;
  color:black;
  width:100%;
  height:50px;
  outline:none;
  border:0;
}
#buttons{
  position:absolute;
  top:22%;
  width:70%;
  background-color:rgba(120,120,40,0.3); 
  filter:alpha(opacity=100);
  opacity:1;
  left:15%;
}
#buttons td{
width:20%;
}

#header{
  padding-left:15%;
  color:#110111;
  font-family:"DejaVu Sans","DejaVu Sans Mac Name","DejaVu Sans Unix Name","Times New Roman";
}
#nv,#v{
  height:25px;
  width:25px;
}
#nvg{
  position:absolute;
  top:50%;
  left:68%;
}
#rate{
  position:absolute;
  width:120px;
  height:70px;
  background-color:green;
  color:white;
  text-align:center;
  top:0;
  left:70%;
  border-radius:10%;
}
button:hover{
  background:rgba(225,215,25,0.2);
  filter:alpha(opacity:100);
  opacity:1;
}
button:active{
  background:rgba(225,125,15,0.2);
  filter:alpha(opacity:100);
  opacity:1;
}
#a2{
  background:rgba(12,51,40,0.2);
  filter:alpha(opacity:100);
  opacity:1;
  position:absolute;
  top:38%;
  left:20%;
  width:30%;
  height:60%;
  border-radius:0;
  text-align:left;
  overflow:hidden;
}
#init{
  width:103%;
  height:100%;
  overflow:auto;
}
.ppic{
   height:100px;
   width:100px;
}
.time{
  background:rgba(0,0,0,0.2);
  filter:alpha(opacity=80);
  opacity:0.8;
  color:grey;
  text-align:right;
  padding-right:5%;
}
mark{
  background:rgba(225,255,255,0.2);
  filter:alpha(opacity:100);
  opacity:1;
  border-radius:40%;
  color:white;
}
.x{
padding-right:30%;
}
.comment{
  text-align:center;
  
  //filter:alpha(opacity:100);
  opacity:1;
  border-radius:15%;
font-family: 'Shadows Into Light', cursive;
}
#tp a{
  text-decoration:none;
  background:rgba(100,120,10,0.4);
  filter:alpha(opacity:100);
  opacity:1;
  color:white;
  border-radius:0%;
}
#tp{
  position:fixed;
  top:30%;
  left:15%;
  width:60%;
  text-align:left;
  
}
#tp td{
  padding-left:20%;  
}
#a2 mark{
text-align:left;
}
.nbr{
     background:rgba(0,0,0,0.2);
     filter:alpha(opacity:100);
     opacity:1;
}
.nbr td{
width:600%;
}
#main{
  position:absolute;
  top:0;
  left:0;
  text-align:center;
}
.rimg{
  height:400px;
  width:400px;
}
#a4{
position:absolute;
top:300px;
left:30%;
}
#a4 table{
background-color:white;
border-radius:10%;
text-align:center;
}
#a5{
position:absolute;
height:80%;
width:50%;
left:25%;
top:45%;
}
#blur{
position:fixed;
top:0;
width:100%;
height:100%;
background-color:black;
opacity:0.8;
}
#a3 a{
  text-decoration:none;
  background:rgba(120,1,0,0.2);
  filter:alpha(opacity:100);
  opacity:1;
  color:#111111;
}
#a3{
position:fixed;
top:38%;
left:60%;
width:100%;
height:60%;
overflow:hidden;
}
#invo{
position:absolute;
top:0;
width:100%;
height:100%;
overflow:auto;
}
#up{
position:absolute;
width:30%;
height:50%;
top:40%;
left:35%;
}
#a7
{position:fixed;
top:38%;
left:60%;
width:100%;
height:100%;
overflow:hidden;
}
