html,body{
height:100%;
width:100%;
background-image:URL('../images/bg.jpg');
background-size: contain;
background-size: cover;
}
.link_holder{

background:rgba(255,255,255,0.2);
height:70px;
width:255px;
text-align:center;
padding:5px;
color:black;
}
.link_holder:hover{
background:rgba(255,255,255,0.7);
color:black;
text-decoration:none;
}
.link_holder:active{
background:rgba(255,255,255,1);
text-decoration:none;
}
td a{
text-decoration:none;
height:30px;
width:80px;
opacity:0.5;
color:#aaaaaa;
}
td a:hover{
color:#ffffff;
}

#pls{
position:absolute;
height:30px;
width:30%;
border:0px;
background:rgba(255,255,255,0.2);
filter:alpha(opacity=100);
opacity:1;
color:white;
padding:10px;
left:10%;;
top:12%;
}
#links{
position:absolute;
border-spacing:15px;
top:30%;
left:9%;

}
#bts{
position:absolute;
height:50px;
width:100px;
border:0;
opacity:0.7;
left:43%;
top:12%;
}
#navigation{
position:absolute;
width:90%;
background:rgba(0,0,0,0.5);
filter:alpha(opacity=100);
opacity:1;
color:white;
left:10%;
}
#navigation td{
width:20%;
height:40px;
padding:5px;
text-align:center;
}
#logo{
position:absolute;
background-image:URL('../images/LOGO.png');
height:10%;
width:2%;
top:2%;
left:0.5%;
opacity:0.5;
background-size:cover;
background-repeat:no-repeat;
}


